{{ partial "header" . }}
<article>
	<header>
        {{ partial "title" . }}
    {{ $latestcount := .Site.Params.LatestCount | default 3 }}
	{{ $postsection := .Site.Params.PostSection | default "blog" }}
    </header>
	{{ .Content }}
    <section>
        <hr class="sep" />
		<h4>Checkout My Latest Posts</h4>
		<ul class="no-bullet">
			 {{ range (first 3 (where site.RegularPages "Section" "blog")) }}
        {{ partial "li" . }}
        {{ end }}
		</ul>
	</section>
	<p id="spotify">
		{{ partial "song.html" . }}
	</p>
</article>
<nav class="no-print post-nav">
{{ if .PrevInSection }}
	<a class="prev-post" href="{{ .PrevInSection.Permalink }}">
		<img class="icon-text" src="/img/prev.svg"/>
		{{- .PrevInSection.Title -}}
	</a>
{{ end }}
{{ if .NextInSection }}
	<a class="next-post" href="{{ .NextInSection.Permalink }}">
		{{- .NextInSection.Title -}}
		<img class="icon-text" src="/img/next.svg"/>
	</a>
{{ end }}
</nav>
{{ partial "related" . }}
{{ if in .Site.Params.DisqusSections .Section }}
	{{ partial "disqus" . }}
{{ end }}
{{ partial "about-footer" . }}
