<p>I'm a digital marketer with a passion for technology and SaaS products based in Austin, Texas. I currently work at <a href="https://mailgun.com">Mailgun</a> where I manage our global growth marketing team. </p>

<p>I enjoy working with data, solving complex problems, and writing. Check me out on <a href="https://medium.com/@NickLafferty">Medium</a> where I've been published in The Ascent, Better Marketing, and The Post-Grad Survival Guide. </p>

<p>Do you need help generating more leads, running paid search campaigns, building a website, or writing great content? <a href="mailto:nick@lafferty.co">Send me an email.</a></p>