			<hr class="sep" />
		</main>
		<footer class="container no-print">
                        <div>
                <h5>Subscribe to my Newsletter</h5>
            {{ partial "emailform.html" . }}
            </div>
			<div class="u-footer">
				<h6>
					{{ partial "song.html" . }}
				</h6>
				{{ partial "social.html" . }}
				<p>
					{{ with .Site.Copyright }}
					{{ . | safeHTML }}
					{{ end }}
				</p>
				{{ if ne .Kind "home" }}
				<a href="#brand">
					<img class="icon-text" src="/img/toup.svg" alt="To Up"/>
					<span>{{ T "toUp" }}</span>
				</a>
				{{ end }}
			</div>
		</footer>
		{{ if .Site.Params.HighlightJs }}
		<script>hljs.initHighlightingOnLoad();</script>
		{{ end }}
	</body>
</html>
