<hgroup id="brand">
	<!-- Homepage -->
	{{- if eq .Kind "home" -}}
	<h1>{{ .Site.Title }}</h1>
	<h5>{{- with .Site.Params.Tagline -}}{{.}}{{- end -}}</h5>
	<!-- Section List -->
	{{- else if eq .Section "page" -}}
	<h1>Blog</h1>
    {{- else if eq .Section "about" -}}
	<h1>Hi, I'm Nick Lafferty</h1> 
	{{- else if ( or ( eq .Kind "section") ( eq .Kind "taxonomyTerm" ) ) -}}
	<h1>{{ .Title }}</h1>
	<!-- Ordinary Page -->
	{{- else if eq .Kind "page" -}}
	<h1>{{ .Title }}</h1>
	<h5>
		{{ $dateformat := .Site.Params.DateFmt | default "Jan 02, 2006" }}
		<time datetime="{{.Date}}">{{ .Date.Format $dateformat }}</time>
		<span> | {{ .WordCount }} Words | {{ .ReadingTime }} minutes to read</span>
		<span class="no-print">
			{{ with .Params.tags -}}
				{{ range . }} |
				<a href="/tags/{{.}}">{{.}}</a>
				{{ end }}
			{{- end -}}
			{{- with .Params.workURL -}}
			-
			<a href="{{.}}">{{ T "workHomepage" }}</a>
			{{- end -}}
        </span>
	</h5>
    {{ if .Params.affiliate}}
    <span style=" font-size: 80%; color: #222;">This post contains affiliate links. I may earn a small fee if you choose to purchase something.</span>
    {{ end }}
	<!-- Taxonomy Page -->
	{{- else if eq .Kind "taxonomy" -}}
	<h5>{{ .Data.Singular | title }}:</h5>
	<h1>{{ .Title }}</h1>
	{{ end }}
</hgroup>
<hr class="sep" />
